html {
    scroll-behavior: smooth;
    scroll-padding-top: 120px;
}
@media screen and (prefers-reduced-motion: reduce) {
	html {
		scroll-behavior: auto;
	}
}

body {
background-image: linear-gradient(to bottom, #63aabc, #f9f3ec);
}

@font-face {
    font-family: ‘neou’;
    src: url(neou.ttf) format(truetype);
    /*src: url(‘neou.ttf’) format(‘truetype’);*/
    font-weight: normal;
    font-style: normal;
}

section {
    width: 100%;
    margin: 15px 0px 15px 0px;
    padding: 0px;
    position: relative;
}
.home{
    height: 100vh;
    position: relative;
    text-align: center;
    width: 100%;
    padding: 0px;

}
.el-guia{
    height: 100vh;
    position: relative;
    text-align: justify;
}
.actividades{
    height: 100vh;
    position: relative;
    text-align: justify;
    /* height: 20%; */
}
.el-youtuber{
    height: 100vh;
    position: relative;
    text-align: justify;
    /* height: 20%; */
}

h1 {
    font-family: helvetica, verdana, geneva !important;

}

h4 {
    padding-top: 15px;
    font-family: helvetica, verdana, geneva;
    text-align: center;
}

a #active {
    color: #614D80;
}

header {
    width: 100%;
    text-align: center;
    background: transparent;
    height: auto;
}

.sn {
    display: inline-block;
    padding: 5px 0px;
}

.header1 {
    font-size: 13px;
    color: white;
    background: black;
    text-align: right;
}

.header2 {
    padding: 5px 0px;
    margin-top: auto;
    margin-bottom: auto;
}
.header2 img{
    width: 150px;
}

@media screen and (max-width: 991px) {

    .header2 {
        padding: 5px 0px;
        margin-top: auto;
        margin-bottom: auto;
    }
    .header2 img{
        width: 100px;
    }
    .header2 h1{
        font-size: 30px;
    }

}

a:link {
    color: white;
    text-decoration: none;
}

nav.navbar {
    background-color:#63aabc!important;
    width: 100%;
}

/*Logo Centered in navbar*/

.navbar-light .navbar-toggler-icon{
    background-image: url(../imagenes/toggler-icon.png)!important;
}

@media screen and (max-width: 991px) {
    .navbar-brand {
        transform: translateX(-23%);
        left: 50%;
    }
    
}

div ul li{
    margin-top: auto;
    margin-bottom: auto;
}
div ul li a {
    font-family: helvetica, verdana, geneva !important;
    font-size: 18px !important;
    font-weight: bold;
    color: #60204b !important;
}
#logo1{
    width: 130px;
    margin: auto !important;
}

#logo2{
    width: 130px;

}

@media screen and (max-width: 991px) {

    #logo2{
        display: none;
    }

}

@media screen and (min-width: 991px) {
    #logo1{
        display: none;
    }
}

.footer {
    width: 100%;
    bottom: 0px;
    background-color: black;
    color: white;
    text-align: center;
    height: 50px;
    margin-bottom: auto;
    margin-top: auto;
}

p {
    text-align: center;
    font-size: 20px;
    margin: 15px auto;
    font-family: helvetica, verdana, geneva !important;
}

/*carrousel*/
.intern-carousel{
    height: 60vh;
    margin: 0px;
    padding: 0px;
}

@media screen and (max-width: 991px) {
    .intern-carousel div img {
        width: 100%;
        height: 50vh;
        object-fit: cover;
    }
}

/*Contacto nuevo */

.div-contact{
    height: 80vh;
    margin: 0;
    padding: 0;
    text-align: center;
}
.div-title{

}
.div-content{

}

.div2{
    padding: 16px 0px 31px 0px;
    display: inline-block;
    background-color: #63aabc;
    border-radius: 15px 0px 0px 15px;
}
.div3{
    padding-top: 24px;
    display: inline-block;
    background-color: #ed3833;
    border-radius: 0px 15px 15px 0px;
}

.link-contact{
    text-decoration: none !important;
    color: black !important;
}

@media screen and (max-width: 991px) {
    .div2{
        border-radius: 15px 15px 0px 0px;
        padding: 7px;
    }
    .div3{
        border-radius: 0px 0px 15px 15px;
        padding: 7px;
    }
} 
#contact-info .bold{
    font-weight: bolder;
}

#name{
    width: 100%;
    border-style: none;
}
#email{
    width: 100%;
    border-style: none;
}
#phone {
    width: 100%;
    border-style: none;
}
#message{
    width: 100%;
    border-style: none;
}
.message-button{
    background-color: #60204b;
    color: #f9f3ec;
}
@media screen and (max-width: 991px) {
    p {
        font-size: 20px;
    }
    h4{
        font-size: 25px;
    }
}
